body {
  background-color: #b7bbf3;
}

.title {
  font-family: sans-serif;
  font-size: 100px;
  font-weight: bolder;
  font-variant: small-caps;
  color: #823956;
  text-align: center;
  margin: auto;
}

.background {
  display: flex;
  justify-content: center;
}

.belonging {
  width: 60%;
}

.digital {
  width: 30%;
}
