body {
  background-color: #b7bbf3;
}

.title {
  font-family: sans-serif;
  font-size: 100px;
  font-weight: bolder;
  font-variant: small-caps;
  color: #823956;
  text-align: center;
  width: 100%;
}

.belonging {
  width: 100%;
  height: auto;
  margin-right: 10px;
}

.digital_identity {
  width: 100%;
  height: auto;
}
