body {
  background-color: #b7bbf3;
}

.title {
  font-family: sans-serif;
  font-size: 100px;
  font-weight: bolder;
  font-variant: small-caps;
  color: #823956;
  text-align: center;
  margin: auto;
}

.belonging {
  margin-right: 10px;
}

.imgContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.imgContainer img {
  height: 80vh;
  width: auto;
  flex-wrap: wrap;
}
